* {
    font-family: monospace;
    box-sizing: border-box;  
}

.wrapper {
    background-color: black;
    color: white;
    max-width: 1000px;
    min-width: 100px;
    height: auto;
    margin: 0 auto;
    padding: 50px;
} 

header {
    background-color: grey;
    max-height: 50px;
    text-align: center;
    padding: 35px;
}

section {
    background-color:#F4F4F4;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    color: grey;
    
}

#one {
    background-color: rgb(167, 184, 180);
    padding: 20px;
    float: left;
    text-align: center;
    width: 33.3%;
    margin: 0 auto;
}

#two {
    background-color: rgb(65, 172, 145);
    padding: 20px;
    float: left;
    text-align: center;
    width: 33.3%;
    margin: 0 auto;
}

#three {
    background-color: rgb(167, 187, 182);
    padding: 20px;
    float: left;
    text-align: center;
    width: 33.3%;
    margin: 0 auto;
}

#clear {
    clear: both;
}

footer {
    background-color: grey;
    max-height: 50px;
    text-align: center;
    padding: 15px;
    margin-top: auto;
    margin-bottom: auto;   
}

.beforeElm::before {
    content: ">> ";
}

li {
    list-style-type: none;
}
